includes:
  - phpstan-phpunit.neon

parameters:
  paths:
    - ecs.php
    - src
    - tests
  excludePaths:
    - tests/PhpStanConfig/Rules/*/Fixture/*/Failure/*
  ignoreErrors:
    - message: '#^Parameter \#1 \$additionalSkips of method Jgut\\ECS\\Config\\AbstractConfigSet::setAdditionalSkips\(\) expects .+, .+ given\.$#'
      path: ecs.php
